@charset "UTF-8";
/*reset.css*/
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: bottom;
  height: auto;
  border: 0;
}

li {
  list-style: none;
  list-style-position: inside;
}

header a,
footer a {
  text-decoration: none;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  color: #141414;
  font-family: "Noto Sans JP", "游ゴシック", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "Droid Sans", sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
  user-select: none;
}

img {
  width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #141414;
}

li {
  list-style: none;
}

.page-title {
  text-align: center;
  background-color: #7c7575;
  padding: 30px;
}

.page-title__text {
  display: inline-block;
  color: #fff;
  font-size: 56px;
  /*IE9以前に対応する*/
  font-size: 3.5rem;
  font-family: "Miltonian", cursive;
}

@media screen and (max-width: 559px) {
  .page-title__text {
    font-size: 48px;
    /*IE9以前に対応する*/
    font-size: 3rem;
  }
}

.content-common {
  padding: 90px 15%;
}

@media screen and (max-width: 559px) {
  .content-common {
    padding: 90px 15px;
  }
}

.header {
  background-color: #f0ece7;
  height: 90px;
  padding: 0 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 559px) {
  .header__title {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

.logo {
  width: 80px;
  height: 80px;
}

@media screen and (max-width: 559px) {
  .logo {
    width: 50px;
    height: 50px;
  }
}

.site-title {
  color: #141414;
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  margin: 0 0 10px 10px;
}

@media screen and (max-width: 559px) {
  .site-title {
    font-size: 8px;
    /*IE9以前に対応する*/
    font-size: 0.5rem;
  }
}

.nav-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 959px) {
  .nav-wrapper {
    display: none;
  }
}

.nav-wrapper ul {
  height: 100%;
  display: flex;
}

.nav-wrapper ul li a {
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  letter-spacing: .1em;
  text-align: center;
  line-height: 90px;
  padding: 0 20px;
  display: inline-block;
  height: 100%;
}

.nav-wrapper ul li a:hover {
  text-decoration: underline;
}

.burger {
  display: none;
  background-color: #f0ece7;
  border: none;
  padding: 15px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 959px) {
  .burger {
    display: block;
  }
}

.burger__item {
  background-color: #141414;
  width: 30px;
  height: 2px;
  display: block;
  margin-bottom: 9px;
  transition: all 0.2s;
}

.burger__item:last-child {
  margin-bottom: 0;
}

#menu {
  z-index: 3;
  position: fixed;
  top: 0;
  right: -100%;
  background: #354e59;
  padding: 8px;
  box-sizing: border-box;
  width: 80%;
  height: 100vh;
  display: flex;
  transition: all 0.4s;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#menu li {
  margin-bottom: 50px;
}

#menu li a {
  color: #fff;
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  letter-spacing: .2em;
}

.menu-open {
  overflow-y: hidden;
}

.menu-open #menu {
  right: 0;
}

.menu-open .burger__item_top {
  transform: translateY(11px) rotate(135deg);
}

.menu-open .burger__item_center {
  transform: translateX(-18px) scaleX(0);
}

.menu-open .burger__item_bottom {
  transform: translateY(-11px) rotate(-135deg);
}

.footer {
  background: #ccc;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer i {
  color: #fff;
  padding: 0 5px;
}

.icon-wrapper {
  margin-bottom: 20px;
}

.copyright {
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 559px) {
  .copyright {
    font-size: 0.7rem;
  }
}

.breadcrumb {
  padding: 15px 0 0 4vw;
  line-height: 1;
}

.breadcrumb a {
  text-decoration: none;
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
}

.breadcrumb i {
  margin-right: 5px;
}

.aside {
  border: 1px solid #ddd;
  width: 25%;
  min-width: 250px;
  margin-left: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 559px) {
  .aside {
    margin-left: 0;
  }
}

@media screen and (max-width: 559px) {
  .aside {
    width: 100%;
  }
}

.aside:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 559px) {
  .aside:last-child {
    margin-bottom: 30px;
  }
}

.aside__title {
  font-size: 16px;
  /*IE9以前に対応する*/
  font-size: 1rem;
  padding: 20px 10px;
  line-height: 1;
  border-bottom: 1px solid #ddd;
}

.aside__list li {
  margin: 0;
  border-bottom: 1px solid #ddd;
  line-height: 1;
}

.aside__list li:last-child {
  border-bottom: none;
}

.aside__list li a {
  padding: 20px 10px;
  display: block;
  text-decoration: none;
  position: relative;
  line-height: 1;
  transition: all 300ms 0s ease;
}

.aside__list li a:after {
  font-weight: 900;
  position: absolute;
  top: 50%;
  right: 10px;
  display: block;
  margin-top: -0.5em;
  font-size: 14px;
  /*IE9以前に対応する*/
  font-size: 0.875rem;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  color: #535252;
}

.aside__list li a:hover {
  background-color: rgba(187, 187, 187, 0.1);
}

.pagination {
  display: block;
  text-align: center;
}

@media screen and (max-width: 559px) {
  .pagination {
    margin-bottom: 30px;
  }
}

.pagination li {
  display: inline-block;
}

.pagination a,
.pagination span {
  font-size: 0.9rem;
  display: block;
  padding: 5px 10px;
  border: solid 1px #ccc;
  border-radius: 4px;
  text-align: center;
}

.pagination span {
  color: #fff;
  background-color: #6f6152;
}

.pagination a:hover {
  color: #fff;
  background-color: #6f6152;
}

.search_container {
  position: relative;
  border: 1px solid #999;
  display: block;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 220px;
  background-color: white;
  overflow: hidden;
}

.search_container input[type="text"] {
  border: none;
  height: 2em;
}

.search_container input[type="text"]:focus {
  outline: 0;
}

.search_container input[type="submit"] {
  cursor: pointer;
  font-size: 20px;
  border: none;
  background: none;
  color: #7b7b7b;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  right: 0;
  top: -7px;
  outline: none;
}

.post-links {
  margin-top: 50px;
  padding: 20px 0;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.post-link {
  width: 50%;
  padding: 15px 0;
}

.post-link a {
  text-decoration: none;
  font-size: 14px;
  /*IE9以前に対応する*/
  font-size: 0.875rem;
}

.post-link_prev i,
.post-link_prev svg {
  margin-right: 10px;
}

.post-link_next {
  text-align: right;
}

.post-link_next i,
.post-link_next svg {
  margin-left: 10px;
}

@media screen and (max-width: 559px) {
  .post-links {
    margin-top: 20px;
  }
  .post-link {
    padding: 0;
  }
  .post-link a {
    font-size: 12px;
    /*IE9以前に対応する*/
    font-size: 0.75rem;
  }
}

.fv {
  padding: 8% 5%;
}

.fv__inner {
  height: 90vh;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.6);
  background: url(../images/myfv.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 60%;
  position: relative;
  transform: rotate(-2.5deg);
}

@media screen and (max-width: 559px) {
  .fv__inner {
    background-position: left center;
  }
}

.tape {
  z-index: 4;
  width: 35%;
  height: 40px;
  margin: -25px auto 0;
  background: #8a5d09;
  transform: rotate(-1.2deg) translateY(-15px);
  opacity: 0.3;
}

@media screen and (max-width: 559px) {
  .tape {
    width: 50%;
  }
}

.main-copy_text {
  color: #fff;
  font-family: "Sacramento", cursive;
  padding: 80px 0 0 7%;
  font-size: 8rem;
  font-weight: normal;
}

@media screen and (max-width: 559px) {
  .main-copy_text {
    padding-left: 0;
    font-size: 56px;
    /*IE9以前に対応する*/
    font-size: 3.5rem;
    text-align: center;
  }
}

.message-sec {
  writing-mode: vertical-rl;
  -webkit-text-orientation: upright;
  text-orientation: upright;
  /* すべて縦方向に表示 */
  width: 100%;
  height: 90vh;
  padding: 40px 15%;
  background-color: #474545;
  color: #fff;
}

@media screen and (max-width: 959px) {
  .message-sec {
    padding: 40px 15px;
  }
}

.message-sec__title {
  margin-left: 80px;
}

@media screen and (max-width: 959px) {
  .message-sec__title {
    margin-left: 5px;
  }
}

@media screen and (max-width: 559px) {
  .message-sec__title {
    font-size: 18px;
    /*IE9以前に対応する*/
    font-size: 1.125rem;
  }
}

.message-sec__text {
  line-height: 3em;
  margin-top: 10px;
}

@media screen and (max-width: 959px) {
  .message-sec__text {
    line-height: 2em;
  }
}

@media screen and (max-width: 559px) {
  .message-sec__text {
    line-height: normal;
    font-size: 12px;
    /*IE9以前に対応する*/
    font-size: 0.75rem;
  }
}

.nav-sec__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  justify-content: center;
  font-family: "Josefin Slab", serif;
  letter-spacing: 0.2em;
}

@media screen and (max-width: 559px) {
  .nav-sec__list {
    grid-template-columns: 1fr 1fr;
  }
}

.nav-sec__list img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.nav-sec__item1 {
  position: relative;
  display: inline-block;
}

.nav-sec__item1::before {
  position: absolute;
  content: "";
  display: block;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.nav-sec__item1::after {
  position: absolute;
  content: "ABOUT";
  color: #fff;
  font-size: 32px;
  /*IE9以前に対応する*/
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.nav-sec__item2 {
  position: relative;
  display: inline-block;
}

.nav-sec__item2::before {
  position: absolute;
  content: "";
  display: block;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.nav-sec__item2::after {
  position: absolute;
  content: "BLOG";
  color: #fff;
  font-size: 32px;
  /*IE9以前に対応する*/
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.nav-sec__item3 {
  position: relative;
  display: inline-block;
}

.nav-sec__item3::before {
  position: absolute;
  content: "";
  display: block;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.nav-sec__item3::after {
  position: absolute;
  content: "WORKS";
  color: #fff;
  font-size: 32px;
  /*IE9以前に対応する*/
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.nav-sec__item4 {
  position: relative;
  display: inline-block;
}

.nav-sec__item4::before {
  position: absolute;
  content: "";
  display: block;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.nav-sec__item4::after {
  position: absolute;
  content: "CONTACT";
  color: #fff;
  font-size: 32px;
  /*IE9以前に対応する*/
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hover-ef:hover::before {
  opacity: 0.2;
}

.about__img {
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.about__img img {
  border-radius: 50%;
}

.about__content {
  max-width: 500px;
  margin: 0 auto;
}

.my-archive {
  margin: 90px 10%;
}

.my-archive__page-title {
  margin-bottom: 40px;
  display: inline-block;
  padding: 0 150px;
  border-bottom: 4px double #354e59;
  border-radius: 1px;
}

@media screen and (max-width: 559px) {
  .my-archive__page-title {
    text-align: center;
    display: block;
    padding: 0;
  }
}

.my-archive__inner {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 559px) {
  .my-archive__inner {
    display: block;
  }
}

.my-archive__lists {
  flex: 1;
}

.my-archive__list {
  height: 250px;
  display: flex;
  padding: 30px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin-bottom: 30px;
  transition: 0.3s;
}

@media screen and (max-width: 559px) {
  .my-archive__list {
    flex-direction: column;
    height: auto;
  }
}

.my-archive__list:hover {
  box-shadow: 0 2px 8px 2px gray;
  transform: translateY(-10px);
}

.thumbnail {
  max-width: 190px;
  margin-right: 50px;
  text-align: center;
  align-self: center;
}

@media screen and (max-width: 559px) {
  .thumbnail {
    margin: 0 auto;
  }
}

.thumbnail img {
  height: 130px;
  object-fit: cover;
}

.thumbnail__date {
  display: block;
  background: #141414;
  color: #fff;
  font-size: 0.5rem;
  padding: 5px;
}

.thumbnail__date .time-icon {
  color: #fff;
  margin-right: 5px;
}

.article-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 90px 10%;
}

@media screen and (max-width: 559px) {
  .article-wrapper {
    display: block;
  }
}

.my-article {
  flex: 1;
}

.my-article__title {
  text-align: center;
  font-size: 40px;
  /*IE9以前に対応する*/
  font-size: 2.5rem;
}

@media screen and (max-width: 559px) {
  .my-article__title {
    font-size: 24px;
    /*IE9以前に対応する*/
    font-size: 1.5rem;
  }
}

.my-article__date {
  text-align: right;
  margin: 0 40px;
}

.my-article__eye {
  margin: 5px 40px 15px;
}

.my-article .post-categories {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 40px 80px;
}

.my-article .post-categories li {
  padding-right: 10px;
}

.my-article .post-categories li a {
  line-height: 1;
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  /*IE9以前に対応する*/
  font-size: 0.875rem;
  border: 1px solid #354e59;
  color: #354e59;
  text-decoration: none;
}

.works-archive {
  padding: 0;
}

.works-archive__inner {
  max-width: 700px;
  padding: 80px 15px;
  margin: 0 auto;
}

.works-archive__name {
  font-size: 40px;
  /*IE9以前に対応する*/
  font-size: 2.5rem;
  font-style: italic;
  text-align: center;
  margin-bottom: 24px;
}

@media screen and (max-width: 559px) {
  .works-archive__name {
    font-size: 32px;
    /*IE9以前に対応する*/
    font-size: 2rem;
  }
}

.works {
  margin-bottom: 120px;
}

.works__item {
  text-align: center;
}

.works__title {
  font-size: 20px;
  /*IE9以前に対応する*/
  font-size: 1.25rem;
  margin-left: 10px;
}

@media screen and (max-width: 559px) {
  .works__title {
    font-size: 16px;
    /*IE9以前に対応する*/
    font-size: 1rem;
  }
}

.works .works {
  margin-bottom: 120px;
}

.works .works__item {
  text-align: center;
}

.works .works__title {
  font-size: 20px;
  /*IE9以前に対応する*/
  font-size: 1.25rem;
  margin-left: 10px;
}

@media screen and (max-width: 559px) {
  .works .works__title {
    font-size: 16px;
    /*IE9以前に対応する*/
    font-size: 1rem;
  }
}

.works .works__link {
  position: relative;
  display: inline-block;
}

.works .works__link:hover:before {
  position: absolute;
  content: '';
  display: block;
  z-index: 90;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.works .works__link:hover:after {
  position: absolute;
  content: 'CLICK';
  color: #fff;
  font-size: 58px;
  /*IE9以前に対応する*/
  font-size: 3.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.w-article {
  max-width: 1024px;
  margin: 0 auto 40px;
  border-bottom: 1px solid #ddd;
  padding: 120px 15px 40px;
}

.w-article__title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
  /*IE9以前に対応する*/
  font-size: 2.5rem;
}

@media screen and (max-width: 559px) {
  .w-article__title {
    font-size: 24px;
    /*IE9以前に対応する*/
    font-size: 1.5rem;
  }
}

.w-article__link {
  display: block;
  text-align: center;
  width: 200px;
  margin: 40px 4vw 40px auto;
  color: white;
  background-color: #354e59;
  padding: 10px 30px;
}

.w-article__link:hover {
  opacity: 0.8;
}

.form__list {
  max-width: 700px;
  margin: 0 auto 80px;
  padding: 0 50px;
}

@media screen and (max-width: 559px) {
  .form__list {
    margin: 0 15px;
    padding: 16px 0;
  }
}

.form__label {
  display: block;
  font-weight: bold;
}

.form__item {
  margin-bottom: 50px;
}

.form__item:last-of-type {
  margin-bottom: 0;
}

.form__item input,
.form__item textarea {
  resize: none;
  appearance: none;
  outline: none;
  width: 100%;
  border: 1px solid #141414;
  border-radius: 2px;
}

.form__item input[type="text"] {
  color: #171717;
  padding: 0px 8px;
  line-height: 30px;
  box-sizing: border-box;
}

.form__item textarea {
  height: 171px;
  color: #171717;
  padding: 0px 8px;
  line-height: 30px;
  box-sizing: border-box;
}

.submit-btn {
  display: block;
  background: #f7d43f;
  width: 235px;
  border-radius: 50px;
  padding: 20px 70px;
  font-size: 1.2rem;
  box-shadow: 0 0 8px #272727;
  margin: 0 auto;
  border: none;
}

.notfound {
  text-align: center;
}

.notfound__link {
  color: #354e59;
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */