// 投稿一覧ページ
.archive-wrapper {
  background: rgba(255, 255, 255, .8);
  .archive {
    .archive-item {
      height: 250px;
      display: flex;
      padding: 30px;
      border-top: 1px solid gray;
      border-bottom: 1px solid gray;
      margin-bottom: 30px;
      transition: .3s;
      @include mobile {
        flex-direction: column;
        height: auto;
      }
      &:hover{
        box-shadow: 0 2px 8px 2px gray;
        transform: translateY(-10px);
      }
      .time-and-thumb-archive {
        max-width: 190px;
        margin-right: 50px;
        text-align: center;
        align-self: center;
        @include mobile {
          margin: 0 auto;
        }
        time {
          display: flex;
          justify-content: space-around;
          align-items: center;
          background: $color-black;
          color: $color-white;
          font-size: 0.5rem;
          padding: 5px;
          .time-icon {
            color: chartreuse;
          }
        }
      }
    }
  }

  .pagination {
    display: block;
    text-align: center;
    li {
      display: inline-block;
    }
    a, span {
      font-size: .9rem;
      display: block;
      padding: 5px 10px;
      border: solid 1px #ccc;
      border-radius: 4px;
      text-align: center;
    }
    span {
      color: #fff;
      background-color: $color-accent;
    }
    a:hover {
      color: #fff;
      background-color: $color-accent;
    }
  }
}
