//*------------------*
//*  変数管理
//*------------------*

//color
$color-black: #141414;
$color-white: #fff;
$color-main: #f0ece7;
$color-accent: #6F6152;
$color-accent-green: #354e59;
//font-family
$font-main: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
  Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$font-section-title: 'Sacramento', cursive;
//*------------------*
//*  レスポンシブ定義
//*------------------*

//ブレイクポイント
$tb: 959px; 

//@mediaのフォーマット
//タブレット
@mixin mobile {
  @media screen and (max-width: $tb) {
    @content;
  }
}

//*------------------*
//*  base(共通)
//*------------------*
* {
  box-sizing: border-box;
}
body {
  font-size: 1rem;
  letter-spacing: 0.5em;
  color: $color-black;
  font-family: $font-main;
  text-align: justify;
  margin: 0;
  padding: 0;
  background: #fff;
  user-select: none;
}
img {
  width: 100%;
  vertical-align: bottom;
}
a {
  text-decoration: none;
  color: $color-black;
}
li {
  list-style: none;
}

.section-title {
  font-family: $font-section-title;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 90px;
}

//sectionの共通inner設定
.section-common {
  margin: 90px 15%;
  padding: 16px 4vw;
  @include mobile {
    margin: 90px 15px;
  }
}

