// 個別投稿ページのスタイル
.article-title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 90px;
  font-weight: normal;
  @include mobile {
    font-size: 2rem;
  }
}
// アイキャッチ画像
.thumbnail-eye {
  margin-bottom: 80px;
}