// フッターのスタイル
.footer {
  background: #ccc;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  i {
    color: $color-white;
    padding: 0 5px;
  }
}

.icon-wrapper {
  margin-bottom: 20px;
}
// コピーライト
.copyright {
  text-align: center;
  color: #fff;
  @include mobile {
    font-size: 0.7rem;
  }
}
