// ヘッダーのスタイル
.header {
  background-color: $color-main;
  height: 90px;
  padding: 0 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    display: flex;
    align-items: flex-end;
    @include mobile {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
  }
}


.logo {
  width: 80px;
  height: 80px;
  @include mobile {
    width: 50px;
    height: 50px;
  }
}

// h1要素
.site-title {
  color: $color-black;
  font-family: $font-jose;
  font-weight: bold;
  @include rem(16);
  margin: 0 0 10px 10px;
  @include mobile {
    @include rem(8);
  }
}

.nav-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  @include tablet {
    display: none;
  }
  ul {
    height: 100%;
    display: flex;
    li {
      a {
        font-family: $font-jose;
        font-weight: bold;
        letter-spacing: .1em;
        text-align: center;
        line-height: 90px;
        padding: 0 20px;
        display: inline-block;
        height: 100%;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// ハンバーガーアイコン
.burger {
  display: none;
  background-color: $color-main;
  border: none;
  padding: 15px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  cursor: pointer;
  outline: none;
  @include tablet {
    display: block;
  }
  // 三つの棒のスタイル
  &__item {
    background-color: $color-black;
    width: 30px;
    height: 2px;
    display: block;
    margin-bottom: 9px;
    transition: all 0.2s;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// ハンバーガーメニューを開いた時のstyle
#menu {
  z-index: 2;
  position: fixed;
  top: 0;
  right: -100%;
  background: $color-accent-green;
  padding: 8px;
  box-sizing: border-box;
  width: 80%;
  height: 100vh;
  display: flex;
  transition: all 0.4s;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  li {
    margin-bottom: 50px;
    a {
      color: #fff;
      font-family: $font-jose;
      font-weight: bold;
      letter-spacing: .2em;
    }
  }
}

// ボタン押した時の変化
.menu-open {
  overflow-y: hidden;
  #menu {
    right: 0;
  }
  // ハンバーガーをx印に変更
  .burger {
    &__item {
      &_top {
        transform: translateY(11px) rotate(135deg);
      }
      &_center {
        transform: translateX(-18px) scaleX(0);
      }
      &_bottom {
        transform: translateY(-11px) rotate(-135deg);
      }
    }
  }
}
