.pagination {
  display: block;
  text-align: center;
  li {
    display: inline-block;
  }
  a,
  span {
    font-size: 0.9rem;
    display: block;
    padding: 5px 10px;
    border: solid 1px #ccc;
    border-radius: 4px;
    text-align: center;
  }
  span {
    color: #fff;
    background-color: $color-accent;
  }
  a:hover {
    color: #fff;
    background-color: $color-accent;
  }
}
