// 検索窓
.search_container {
  position: relative;
  border: 1px solid #999;
  display: block;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 220px;
  background-color: white;
  overflow: hidden;
  input[type="text"] {
    border: none;
    height: 2em;
    &:focus {
      outline: 0;
    }
  }
  input[type="submit"] {
    cursor: pointer;
    font-size: 20px;
    border: none;
    background: none;
    color: #7b7b7b;
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    right: 0;
    top: -7px;
    outline: none;
  }
}
