// 投稿一覧ページ
.my-archive {
  margin: 90px 10%;
  &__page-title {
    margin-bottom: 40px;
    display: inline-block;
    padding: 0 150px;
    border-bottom: 4px double $color-accent-green;
    border-radius: 1px;
    @include mobile {
      text-align: center;
      display: block;
      padding: 0;
    }
  }
  &__inner {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    @include mobile {
      display: block;
    }
  }
  &__lists {
    flex: 1;
  }
  &__list {
    height: 250px;
    display: flex;
    padding: 30px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-bottom: 30px;
    transition: 0.3s;
    @include mobile {
      flex-direction: column;
      height: auto;
    }
    &:hover {
      box-shadow: 0 2px 8px 2px gray;
      transform: translateY(-10px);
    }
  }
}

.thumbnail {
  max-width: 190px;
  margin-right: 50px;
  text-align: center;
  align-self: center;
  @include mobile {
    margin: 0 auto;
  }
  img {
    height: 130px;
    object-fit: cover;
  }
  &__date {
    display: block;
    background: $color-black;
    color: $color-white;
    font-size: 0.5rem;
    padding: 5px;
    .time-icon {
      color: $color-white;
      margin-right: 5px;
    }
  }
}
