.works-archive {
  padding: 0;
  &__inner {
    max-width: 700px;
    padding: 80px 15px;
    margin: 0 auto;
  }
  &__name {
    @include rem(40);
    font-style: italic;
    text-align: center;
    margin-bottom: 24px;
    @include mobile {
      @include rem(32);
    }
  }
}

.works {
  margin-bottom: 120px;
  &__item {
    text-align: center
  }
  &__title {
    @include rem(20);
    margin-left: 10px;
    @include mobile {
      @include rem(16);
    }
  }
  .works {
    margin-bottom: 120px;
    &__item {
      text-align: center
    }
    &__title {
      @include rem(20);
      margin-left: 10px;
      @include mobile {
        @include rem(16);
      }
    }
    &__link {
      position: relative;
      display: inline-block;
      &:hover {
        &:before {
          position: absolute;
          content: '';
          display: block;
          z-index: 90;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: rgba(0, 0, 0, .5);
        }
        &:after {
          position: absolute;
          content: 'CLICK';
          color: $color-white;
          @include rem(58);
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 100;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
      }
    }
  } 
}

